set daemon 60 with start delay 60

set mailserver localhost

# REMEMBER TO REPLACE $PSAP_NAME

set mail-format {
	from: psap@westtel.com
	subject: {{ psap_name }}  $EVENT $SERVICE at $DATE
	message: $EVENT Service $SERVICE
		Date:        $DATE
		Action:      $ACTION
		Host:        $HOST
		PSAP:        {{ psap_name }}
		Description: $DESCRIPTION
}

set httpd port 2812
	allow localhost
	allow 10.0.0.0/255.0.0.0
	allow 192.168.0.0/255.255.0.0
	allow @westtel
	allow admin:Westng911#
