# {{ ansible_managed }}

{% for filesystem in ansible_mounts %}
{% if filesystem.fstype == "ext4" or filesystem.fstype == "btrfs" %}
check filesystem {{ filesystem.device | regex_replace('/', '-') | regex_replace('^-', '') }} with path {{ filesystem.device }}
    if space > 80% for 60 cycles then alert
    if inode usage > 80% for 60 cycles then alert
{% endif %}
{% endfor %}
