# {{ ansible_managed }}

check process nginx with pidfile /run/nginx.pid
	start program = "/bin/systemctl start nginx.service"
	stop program = "/bin/systemctl stop nginx.service"
	restart program = "/bin/systemctl restart nginx.service"
	if failed port 80 protocol http then restart
	if 2 restarts within 3 cycles then timeout
	if does not exist then alert
