# {{ ansible_managed }}

# The order of the server= lines below does not matter. dnsmasq keeps track of
# the latency of these servers and load balances, using the server that is up
# and closest (in latency). It will also automatically retry in case of server
# failure and other conditions.
#
# If a certain domain is only served by a private DNS server you will need a
# line like this:
# server=/lan.westtel.com/10.45.3.2
#
# This will make it so that DNS requests to lan.westtel.com (and any
# subdomains) will go only to 10.45.3.2. If you want general queries to also
# go to this server you will need a server=10.45.3.2 line.
#
# Add a line for each domain/IP address that needs to work, for instance:
# server=/lan1.westtel.com/10.10.0.1
# server=/lan1.westtel.com/10.10.0.2
# server=/lan2.westtel.com/10.11.0.1
# server=/lan2.westtel.com/10.11.0.2
#
# if you want to have a custom domain, add a line to /etc/hosts on this
# computer and reload dnsmasq (sudo systemctl reload dnsmasq). dnsmasq will
# now serve that domain name. This can also be used to make domain names
# point to different IP addresses than they would otherwise.

# OpenDNS
server=208.67.222.222
server=208.67.220.220

# Google DNS
server=8.8.8.8
server=8.8.4.4
